<!-- AZURE SERVICEBUS DEPENDENCIES -->
    <dependency>
        <groupId>com.azure</groupId>
        <artifactId>azure-messaging-servicebus</artifactId>
        <version>${com.azure.azure-messaging-servicebus.version}</version>
    </dependency>